<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>70s Movies</title>
</head>
<body>
  <ul>
    <% allMovies.forEach((element)=> { %>
     <li><%= element.title %></li> 
     <li><%= element.releaseDate %></li>
     <li><%= element.rating %></li>
     <li><%= element.decade %></li>
     <li><%= element.description %></li>

     <% element.forEach(function(movie) { %>
      <div class="movie">
        <%= movie.text %><br>
        <% if (user && movie.userId.equals(user._id)) { %>
          <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        <% } %>
      </div>
    <% }) %>
    
    <% }); %>

   
    
</ul>
    
</body>
</html>